/*
* Header.css
* Styling for header
*
*
*/


/* Header ----------------------------------------------------------------------------- */
div#search{display: none;}

/* Menu ----------------------------------------------------------------------------- */
.hidden{display: none;}
.linkheader img{ width: 30px;margin: 30px auto 20px auto; display: block;}
a.linkheader{height: 90px;background: rgba(78, 78, 78, 0.28); float: left; width: 100%; margin-bottom: 5px;box-shadow: inset -1px 1px 1px 0px rgba(0,0,0,0.25); }
a.linkheader:hover{background: rgba(43, 43, 43, 0.55);    cursor: help;}

/* Search ----------------------------------------------------------------------------- */
a:hover > #search{display: block;}
#search{margin-top: -79px;margin-left: 92px;box-shadow: 1px 1px 5px 0px rgb(54, 54, 54);padding: 20px;background: rgb(59, 59, 59);width: 350px;}
#search p{color: grey;line-height: 30px,color: rgb(154, 154, 154);width: 100%;display: block;text-align: left; font-size: 12pt;}
#search input{margin-bottom: 9px;float: right;border: none;color:  #ad3a01;/* margin: 0px 0 0 0; */background: none;border-bottom: 1px solid  #ad3a01;font-size: 16pt; height: 26px;width: 100%;}
input{outline: none;}
.select2-container{width: 100% !important;}