/*
* Main.css
* Styling for app
*
*
*/


/* Reset ----------------------------------------------------------------------------- */
*{border: 0; padding: 0; text-decoration: none;font-family: roboto;font-weight: 300;}
*, *:after, *:before {-webkit-box-sizing: border-box;box-sizing: border-box;}
button:focus {outline: none;}
img{width: 100%;}
body, html{margin: 0; padding: 0;}

/* Skelett ----------------------------------------------------------------------------- */
body{background: url(img/background.png); }
header#header{z-index:10;width: 100px;float: left;position: fixed;height: 100%; background: rgba(45, 45, 45, 0.7); padding: 5px;box-shadow: -2px 1px 2px rgba(39, 30, 31, 0.40) inset;}
div.container{width: calc(100% - 100px); float: left;margin-left: 100px;}
.w25{float: left;}
.w75{float: left;}
.w100{clear: both;float: left;}
a.button, .button{border-radius: 2px 2px 5px 5px;background: #ad3a01; position:relative; padding: 10px; color:rgb(206, 206, 206); box-shadow: 0 6px rgb(74, 74, 74);display: inline-block; margin-bottom: 10px;}
.button:hover{box-shadow: 0 4px rgb(74, 74, 74);top: 2px; cursor: pointer;}
.bold{font-weight: 500;}

    /* Skelett Responsive ----------------------------------------------------------------------------- */
@media screen and (min-width: 1024px){
  .w25{width: calc(25% - 40px);}
  .w75{width: calc(75% - 40px);}
  .w100{clear: both;width: calc(100% - 40px);}

}
@media screen and (max-width: 1023px){
  .w25{width: calc(100% - 40px);}
  .w75{width: calc(100% - 40px);}
  .w100{clear: both;width: calc(100% - 40px);}

}



/* Color ----------------------------------------------------------------------------- */
.yellow{color: #c7a305;}
.orange{color: #c96108; }
.dark-orange{color: #ad3a01;}
.dark-grey{color: #252525;}
.light-grey{color : #474747;}

/* Loading ----------------------------------------------------------------------------- */

.load img#logo {width: 400px;margin: 0 auto;display: block;}
