html{
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}

body{
  width: 100%; height: 100%;
  padding: 0; margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}
.app{
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto; width: auto;
  background: #252525;
}
.background{
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto; width: auto;
  overflow: hidden;
}
.background::after{
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto; height: auto;
  background: rgba(0,0,0,0.6);
}

.background img{
  display: block;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: blur(1px);
}


.sidebar{
  display: none;
}

.list{
  position: absolute;
  top: 0; bottom: 0; left: 100px; right: 400px;
  height: auto; width: auto;
  overflow-x: hidden; overflow-y: auto;
}
.list::-webkit-scrollbar {
    display: none;
}

.list ul{
  list-style-type: none;
  margin: 200px 0; padding: 0;
}

.list ul li{

}

.list ul li a{
  display: block;
  padding: 10px 20px;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
}
.list ul li a strong{
  font-weight: 300;
}
.list ul li a small{
  display: block;
  float: right;
}
.list ul li a.active{
  background: #2980b9;
}

.info{
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  height: auto; width: 300px;
  background: none;
}

  .info .thumbnail{
    display: block;
    width: 100%;
    position: relative;
  }
  .info .thumbnail:before{
    content: "";
  }

  .info .thumbnail{
    display: block;
    position: relative;
    width: 100%;
  }
  .info .thumbnail:before{
    content: '';
    display: block;
    padding-top: 150%;
    background-image: url('img/movie/noposter.png');
    background-size: cover;
  }
  .info .thumbnail img{
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }
