html{
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}
body{
  width: 100%; height: 100%;
  padding: 0; margin: 0;
}

.app{
  display: block;
  padding: 0; margin: 0;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto; width: auto;
  font-family: 'Roboto', sans-serif;
  font-size: 13px; line-height: 1.5em;
}

.source-wrap{
  display: block;
  padding: 0; margin: 0;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: auto; width: auto;
  background: rgba(0,0,0,0.4);
}
.source-content{
  width: 100%; max-width: 600px;
  background: #ffffff;
  margin: 0 auto;
}
.source-content h2{
  background: #ef8616;
  padding: 10 15px;
}
