.sourcesBackground{ z-index: 9999!important;
  display: fixed;
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  width: auto; height: auto;
  background: rgba(0,0,0,0.4);
}

.sourcesContent{
  display: block;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  margin: 0 auto;
  margin-top: 200px;
}
