.tmdbBindBackground{
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: auto; height: auto;
  background: rgba(0,0,0,0.4);
}

.tmdbBindContent{
  display: block;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  max-width: 600px;
  min-height: 300px;
}
