<template name="header">
    <header id="header" > <!-- class="cl-effect-1" for efect [ ] -->
        <img id="logo" src="img/logo.png">
        <a class="linkheader" href="#"><img src="img/more.png"><span class="hidden">A propos </span></a>
        <a class="linkheader search" href="#"><img src="img/search.png"><span class="hidden">Rechercher &#8628;</span>
            <div id="search">
                <form id="form">
                    <label><p>Nom du film: {{> inputAutocomplete settings=settingsMovieTitleName id="querytitle"
                        class="form-control" placeholder="nom du film" }}</p></label>
                    <label><p>Nom du fichier: {{> inputAutocomplete settings=settingsFileName id="queryfilename"
                        class="form-control" placeholder="nom du film" }}</p></label>
                    <label><p>Equipe : <input id="querycrew"></p></label>
                    <label><p>Acteur : <input id="querycast"></p></label>

                    <label>
                        <p>Genre :
                        <select aria-hidden="true" tabindex="-1" id="queryGenre" multiple="">
                            {{#each uniqueGenre}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                        </p>
                    </label>
                    <label>
                        <button class="clearbutton" id="queryclear">Effacer</button>
                    </label>
                </form>


            </div>
        </a>
        <a class="linkheader rotate" href="#"><img src="img/sync.png"><span class="hidden">Mettre à jour</span></a>
    </header>
</template>

<template name="movieTitleAutoCompletes">
    {{themoviedb.title}}
</template>

<template name="fileNameAutoCompletes">
    {{filename}}
</template>
