<template name="home">
    {{> headerTemplate }}
    <div class="container">
        <div id="theGrid" class="main">
            <section class="grid">
                {{#each movies}}
                    {{> movieTemplate}}
                {{/each}}
            </section>
        </div>
    </div>
</template>


<!--<div class="sidebar">
    Yo
  </div>

  <div class="list">
    <ul>
      {{#each movies}}
        <li>
          <a href="film/{{_id}}">
            {{#if themoviedb}}
              <strong>{{themoviedb.title}}</strong>
              <small>{{themoviedb.runtime}}</small>
            {{else}}
    {{filename}}
{{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="info">
    
    {{#each movies}}
      <div data-movie-id="{{_id}}" >
        <div class="thumbnail">
          {{#if themoviedb}}<img src="http://image.tmdb.org/t/p/w500{{themoviedb.poster_path}}" alt=""/>{{/if}}
        </div>




        {{#if themoviedb}}
          <h2>{{themoviedb.title}}</h2>
          {{#if themoviedb.tagline}}
            <p class="tagline">{{themoviedb.tagline}}</p>
          {{/if}}
{{else}}
          <h2>{{filename}}</h2>
        {{/if}}
      </div>
    {{/each}}

  </div>-->
